<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="simgen fansite">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>  
    <img class="backdrop" src="https://cdn.glitch.com/9e86cccd-74b9-41a9-8f8a-8e687849bad2%2FScreen%20Shot%202020-07-31%20at%201.33.48%20PM.png?v=1596216972756">
    
    <header>
      <div class="header-items center-column">
        <div class="header-title center-column">
          <h1> simgen </h1>
          <h3> 
            -generative fansite<br>
            -create new sims to adore<br>
            -observe their natural stasis
          </h3>
        </div>
        
        <img class="grayscale" src="https://cdn.glitch.com/9e86cccd-74b9-41a9-8f8a-8e687849bad2%2FNEWam_flag.gif?v=1596215015292">
      </div>
      
    </header>

    <main>
    </main>

    <footer>
      <p>
        made for eternal labs day 073120
      </p>
    </footer>
  </body>
</html>
